/Common7
/fullstack-nextjs-app-template-main
/Licenses
/MSSQL16.SQLEXPRESS
/startuml
/АВП3
/База даних
/Комп графика кр варіант 6.docx
/Математичні методи дослідження операції
/ОС
/Проектний практикум